#gameboard-container{
    display: flex;
    gap: .3rem;
}
#chessboard{
    flex: auto;
    max-width: 50rem;
}
#gameboard-sidebar{
    flex: auto;
    max-width: 50rem;
    background-color: darkgray;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
#sideboard-title{
    flex: auto;
}
#sideboard-navbar{
    flex: auto;
}
#move-list-graph{
    flex: 4 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: lightgray;
    width: 100%;
    max-width: 800px;
}
#sideboard-controls{
    flex: auto;
    max-height: 10rem;
}
.move-list-node{
    flex: 1;
    width: 40px;
    height: 40px;
}