#gameboard-container{
    display: flex;
    gap: .3rem;
}
#chessboard{
    flex: auto;
    max-width: 50%
}
#gameboard-sidebar{
    flex: auto;
    background-color: darkgray;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
#sideboard-title{
    background-color: #4e3122;
    flex: auto;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
#sideboard-navbar{
    background-color: #4e3122;
    flex: auto;
    height: 4rem;
}
#move-list-graph{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #593e2e;
    width: 100%;
}
#sideboard-controls{
    background-color: #7e2a1c;
    flex: auto;
    max-height: 10rem;
}
.node_menu_items{
    font-weight: bold;
    color: red;
    width: 100%;
    height: 2rem;
}
