body{
    background-color: white;
}
#gameboard-container{
    display: flex;
    gap: .3rem;
}
#chessboard{
    flex: auto;
    max-width: 50%
}
#gameboard-sidebar{
    flex: auto;
    background-color: darkgray;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
#sideboard-title{
    background-color: purple;
    flex: auto;
    height: 3rem;
}
#sideboard-navbar{
    background-color: green;
    flex: auto;
    height: 4rem;
}
#move-list-graph{
    flex: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: lightgray;
    width: 100%;
}
#sideboard-controls{
    background-color: pink;
    flex: auto;
    max-height: 10rem;
}
