.base{
    composes: palette from '../../styles/base.css';
}
.header{
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    justify-content: center;
}
.headerItem{
    flex: auto;
    margin: 1rem;
    text-decoration: none;
    color: black;

}
.navButton{
    padding: 1rem;
    border-radius: 10%;
    background-color: #3a6aa8ff;
}